* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    


    background: #288a2b;

}
header .logo
{ 
    
    padding: 15px 100px 0 0;
    display: inherit;

    
}

header .navigation
{
    display: flex;
    justify-content: center;
    margin: 10px;
}
header .navigation li
{
    margin: 0 20px;
    color: #fff;
    font-weight: 700;
}


header .searchbox {
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: left;
    
}
header .searchboxelement {
    width: 100%;
    height: 100%;
    vertical-align: middle;

}

header .search {
    border: none;
    height: 140%;
    width: 112%;
    border-radius: 50px;
    font-weight: 700;
    padding: 0 0 0 45px;
    
}

.search:focus {
    outline: none;

}

.material-icons {
    color: #fff;
}

.mediumenu {
    position: absolute;
    top: 76px;
    left: 0;
    width: 100%;
    height: 38px;
    background: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:rgba(109, 109, 109, 0.24);
    padding-right: 320px;
    padding-left: 320px;
    
    
}

.mediumenu ul {

    height:38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(2, 2, 2);
    font-size: 14px;

}
.todasasofertas {
    font-weight: 700;
}

body .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 115px 170px 0 0;
    
}

body .novidades {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    padding: 60px 0 0 0;
}
.products {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 17px;
}
.product p {
    text-align: center;

}

.products img {
    max-width: 250px ;
    max-height: 320px ;
}
.namefig {
font-weight: 800;
font-size: 23px;
}
.madeby {
font-size: 19px;

}
.price {
    font-size: 14px;
    color: #69da6b;
}



/* RESPONSIVIDADE */


@media only screen and (max-width: 480px) {
    
}