* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
header a:link{
	color: rgb(41, 41, 41);
}
header a:visited{
	color: rgb(41, 41, 41);
}

header a:hover{
	color: rgb(0, 0, 0);
}

header a:active{
	color: rgb(0, 0, 0);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #288a2b;

}

header .logo
{ 
    
    padding: 15px 100px 0 0;
    display: inherit;

    
}

header .navigation
{
    display: flex;
    justify-content: center;
    margin: 10px;
}
header .navigation li
{
    margin: 0 20px;
    color: #fff;
    font-weight: 700;
}


header .searchbox {
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: left;
    
}
header .searchboxelement {
    width: 100%;
    height: 100%;
    vertical-align: middle;

}

header .search {
    border: none;
    height: 140%;
    width: 112%;
    border-radius: 50px;
    font-weight: 700;
    padding: 0 0 0 45px;
    
}

.search:focus {
    outline: none;

}

.material-icons {
    color: #fff;
}

.mediumenu {
    position: absolute;
    top: 76px;
    left: 0;
    width: 100%;
    height: 38px;
    background: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:rgba(109, 109, 109, 0.24);
    padding-right: 320px;
    padding-left: 320px;
    
    
}

.mediumenu ul {

    height:38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(2, 2, 2);
    font-size: 14px;

}
.todasasofertas {
    font-weight: 700;
}


body .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 115px 170px 0 0;
    
}

body a:link{
	color: rgb(41, 41, 41);
}
body a:visited{
	color: rgb(41, 41, 41);
}

body a:hover{
	color: rgb(0, 0, 0);
}

body a:active{
	color: rgb(0, 0, 0);
}

body .novidades {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    padding: 60px 0 0 0;
}
/* pagina do produto */

body .paginadoproduto {
    display:flex;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
   
}
body .fotoprincipal {
    width: 80%;
}
body .caixainfoproduto {
    display: flex;
    flex-direction: column;
    
}

body .titulodoproduto {
    font-size: 30px;
    font-weight: 700;
    /* border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:rgba(109, 109, 109, 0.24); */
}

body .complementosdoproduto {
    padding-top: 7%;

}


body .preçodoproduto {
    padding-top: 7%;
    font-size: 40px;
}

body .parcelado {
color: #69da6b;
}

body .botaocomprar {
    padding-top: 7%;
}

body .compraragora {
    background-color:#69da6b ;
    border: none;
    color: white;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    font-weight: 700;
    
}

body .maisfotosdoproduto {
    padding-top: 17%;
padding-left: 6%;

}
body .maisfotostexto {
    font-size: 40px;
    text-align: center;
    padding-bottom: 90px;
}

body .foto2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 7%;
    
}

body .foto2:hover{
    transform: scale(1.5);


}
body .foto3:hover{
    transform: scale(1.5);


}
body .foto3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 7%;
}



body .todasasofertastitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 43px 0px 50px 10px;
}

body .games {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 43px 0px 50px 10px;
    
}
body .animes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 43px 0px 50px 10px;
}
body .series {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 43px 0px 50px 10px;
}
body .filmes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 43px 0px 50px 10px; 
}
body .cartoons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 43px 0px 50px 10px; 
}

body .blackfriday {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 43px 0px 50px 10px; 
}

body .pricebf {
    font-size: 12px;
    color: rgb(80, 80, 80);
    text-decoration: line-through;
}

body .sobreafropp {
padding-left: 40px;
padding-right: 40px;
color: rgb(100, 100, 100);
text-decoration: none;
text-align: center;
padding-bottom: 120px;

}
body .titulomaior {
    padding-top: 170px;
    font-size: 60px;
    padding-left: 40px;
}
body .sobretitulo {
    text-align: center;
    padding-top: 120px;
    font-size: 41px;

}
body .sobretexto {
    padding-top: 20px;
    font-size: 27px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 170px;
    padding-bottom: 30px;
}
.product p {
    text-align: center;

}

.products img {
    max-width: 250px ;
    max-height: 320px ;
}
.namefig {
font-weight: 800;
font-size: 23px;
}
.madeby {
font-size: 19px;

}
.price {
    font-size: 14px;
    color: #69da6b;
}

footer {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #288a2b;
    
}


footer .sobre {
    color: #fff;
}
footer a:link{
	color: rgb(255, 255, 255);
}
footer a:visited{
	color: rgb(255, 255, 255);
}

footer a:hover{
	color: rgb(255, 255, 255);
}

footer a:active{
	color: rgb(255, 255, 255);
}

footer .socialmedia {
color: #fff;
}
footer .socialmedia  ul{
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 800px;
    }

    footer .socialmedia  ul li{
    padding: 5px;
    }

/* RESPONSIVIDADE */

@media only screen and (max-width: 1024px) {
   
    .mediumenu {
        padding-right: 220px;
        padding-left: 220px; 
    }
    
    body .banner {
    padding: 115px 170px 0 0;
    width: 107%;
    }
    
    body .bannerimg {
        width: 1300px;
    }

    footer .socialmedia  ul{
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 600px;
    }

}

@media only screen and (max-width: 480px) {
    header .logo
{ 
    padding: 0px 10px 0 0;
}

header {

    height: 166px;
    flex-wrap: wrap;
}
    
header .navigation li
{
    margin: 12px 50px 5px 20px;
    color: #ffffff;
}
header .far {
    color: #fff;
    font-size: 22px;
}

header .fa-shopping-cart {
    margin: 0 0  0;
    color: #fff;
    font-size: 22px;
}

header .searchbox {
    padding: 5px 38px 0 25px;
    
}
header .searchboxelement {
    height: 120%

}

header .search {
    height: 160%;
    width: 112%;
    padding: 0 0 0 85px;
}

.mediumenu {
    top: 138px;
    padding-right: 20px;
    padding-left: 0px;
}

.mediumenu ul {
    font-size: 12px;
}
.mediumenu ul li {
    padding: 5px;
 
}
.todasasofertas {
    font-size: 11px;
}

body .banner {

    padding: 193px 50px 0 0;
    
}
body .bannerimg {
    width: 500px;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        margin-left: 60px;
    }


    footer {
        width: 100%;
        height: 76px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #288a2b;
        
    }
    
    footer .socialmedia  ul{
        padding: 0 0 0 80px;
        }
    
        footer .socialmedia  ul li{
        font-size: 31px;
        }



body .titulomaior {
    padding-top: 200px;
    font-size: 60px;
    padding-left: 10px;
}


/* ALTERACOES PAGINA DE PRODUTO */

body .paginadoproduto {
    display:flex;
    flex-wrap: wrap;
    padding-top: 30%;
    padding-left: 10%;
    padding-right: 10%;
   
}
body .fotoprincipal {
    width: 310px;
}


body .titulodoproduto {
    padding-left: 12%;

}

body .preçodoproduto {
    padding-top: 7%;
    font-size: 40px;
    padding-left: 12%;
}

body .parcelado {
color: #69da6b;

}
body .emparcelado {
    padding-left: 12%;
}

body .botaocomprar {
    padding-left: 12%;
}
body .foto2 {
    width: 80%;
    
}
body .foto3 {
    width: 80%;

}
}
